html,
body {
  height: 100vh;
  overscroll-behavior-y: contain;
  overflow: hidden;
}
#app {
  display: flex;
  justify-content: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.score {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 900;
}
.info-block {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
  margin-top: 3rem;
  font-size: 0.75rem;
}
.game-controls {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.grid-container {
  --cell: 4.5rem;
  --gap: 0.8rem;
  --step: calc(var(--cell) + var(--gap));
  position: relative;
  background-color: #474747;
  border-radius: 0.5rem;
  padding: var(--gap);
  user-select: none;
}
.grid-cells {
  display: grid;
  grid-template-columns: repeat(4, var(--cell));
  grid-auto-rows: var(--cell);
  gap: var(--gap);
}
.grid-cell {
  border-radius: 0.25rem;
  background: #e8e8e8;
}
.tile {
  position: absolute;
  top: var(--gap);
  left: var(--gap);
  width: var(--cell);
  height: var(--cell);
  transform: translate(calc(var(--x) * var(--step)), calc(var(--y) * var(--step)));
  transition: transform 100ms ease-in-out;
}
.tile.tile-merged {
  z-index: 2;
}
.tile-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 0.25rem;
  font-size: 2rem;
  font-weight: 900;
}
.tile-inner.tile-new {
  animation: appear 200ms ease 100ms backwards;
}
.tile-inner.tile-merged {
  animation: pop 200ms ease 100ms backwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (prefers-reduced-motion: reduce) {
  .tile,
  .tile-inner {
    transition: none;
    animation: none !important;
  }
}

.mr-4 {
  margin-right: 4rem;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: #ed8936;
  border: 1px solid #ed8936;
  font-weight: 700;
}
